.supercal {
width: 100%;
margin-top:14px;
border: 1px solid #eee;
padding: 20px;
    margin-bottom: 40px;
}
.supercal .supercal-header {
display: block;
line-height: 30px;
margin-bottom: 20px;
text-align: center;
position: relative;
}
.supercal .supercal-header .prev-month {
float: left;
}
.supercal .supercal-header .next-month {
float: right;
}
.supercal-month {
position: relative;
z-index: 0;
overflow: hidden;
}
.supercal table {
width: 100%;
table-layout: fixed;
background: #fff;
}
.supercal td {
cursor: pointer;
}
.supercal td:hover {
background: #2f96b4 !important;
color: #fff;
}
.supercal td.month-prev, .supercal td.month-next {
background: #eee;
}
.supercal td.selected {
background: #2f96b0;
color: #fff;
font-weight: normal;
}
.supercal td.currentDay {
background: #0088cc;
color: #fff;
font-weight: normal;
}
.supercal td.today {
font-weight: bold;
}
/* Footer */
.supercal .supercal-footer {
width: 100%;
display: table;
margin:20px 0 0 0;
padding:0px 0px;
color:#666;
}
.supercal .supercal-footer ul{
    padding:0 20px;
}
.supercal .supercal-footer ul li{
   line-height:28px;
}
.supercal .supercal-footer span.supercal-input {
display: table-cell;
width: 100%;
cursor: default;
}
